<footer class="footer">
    <div class="footer-top">
        <div class="footer-flex">
            <ul class="footer-menu">
                <li class="footer-list footer-title footer-title-first">Site Map</li>
                <li class="footer-list"><a href="#" class="footer-link">Home</a></li>
                <li class="footer-list"><a href="#" class="footer-link">About Us</a></li>
                <li class="footer-list"><a href="#" class="footer-link">Apartments</a></li>
                <li class="footer-list footer-list-rooms"><a href="#" class="footer-link footer-rooms">Room 1</a></li>
                <li class="footer-list footer-list-rooms"><a href="#" class="footer-link footer-rooms">Room 2</a></li>
                <li class="footer-list footer-list-rooms-last"><a href="#" class="footer-link footer-rooms">Room 3</a></li>
                <li class="footer-list"><a href="#" class="footer-link">Deals</a></li>
                <li class="footer-list"><a href="#" class="footer-link">Contact us</a></li>
            </ul>
            <ul class="footer-menu">
                <li class="footer-title footer-list">Contact us</li>
                <li class="footer-list footer-list-item">
                    <img src="img/point.svg" alt="" class="footer-img">
                    <p class="footer-text">
                        Shalom Halicem Street Tel Aviv
                        8007 Israel
                    </p>
                </li>
                <li class="footer-list footer-list-item">
                    <img src="img/email.svg" alt="" class="footer-img">
                    <p class="footer-text">
                        Adi@emaliatlv.co.il
                    </p>
                </li>
                <li class="footer-list">
                    <a href="tel:61292515600" class="footer-phone">(+61 2) 9251 5600</a>
                </li>
            </ul>
            <ul class="footer-menu">
                <li class="footer-list footer-title">Social Media</li>
            </ul>
        </div>
    </div>
    <div class="footer-down">
        © 2019  Created in <img src="img/1f499.webp" alt="" class="footer-down-img">by Productive
    </div>
</footer>