<!-- header.html -->
<header class="header">
	<div class="header-btn-menu">
		<span class="header-line header-line_top"></span>
		<span class="header-line header-line_center"></span>
		<span class="header-line header-line_bottom"></span>
	</div>
	<ul class="header-menu">
		<li class="header-list"><a href="#" class="header-link">Home</a></li>
		<li class="header-list"><a href="#" class="header-link">About Us</a></li>
		<li class="header-list"><a href="#" class="header-link">Apartments</a></li>
		<li class="header-list"><a href="#" class="header-link">Deals</a></li>
		<li class="header-list"><a href="#" class="header-link">Contact us</a></li>
	</ul>
	<a href="#" class="header-btn btn">Book Now</a>
</header>
<div class="popup popup-form">
	<form class="form form-header">
		<div class="home-search-crumbs">
			<a href="#" class="home-search-link home-search-text">Dates</a>
			<a href="#" class="home-search-link home-search-text">Rooms</a>
			<a href="#" class="home-search-link home-search-text">Extra</a>
			<a href="#" class="home-search-link home-search-text">Approvment</a>
		</div>
		<div class="home-search-date">
			<label class="home-search-change">
				<input type="text" class="home-search-input">
			</label>
			<label class="home-search-change">
				<input type="text" class="home-search-input">
			</label>
		</div>
		<div class="home-search-details">
			<div class="home-search-tab">
				<div class="home-search-text">Rooms</div>
				<div class="home-search-text">Adults</div>
				<div class="home-search-text">Children</div>
				<div class="home-search-text">Baby</div>
			</div>
			<div class="home-search-item">
				<div class="home-search-label">
					<input type="text" class="home-search-quantity search-rooms" value="1">
				</div>
				<div class="home-search-label">
					<img src="img/person.svg" alt="" class="home-search-img">
					<input type="number" class="home-search-quantity search-adults">
				</div>
				<div class="home-search-label">
					<img src="img/person.svg" alt="" class="home-search-img">
					<input type="number" class="home-search-quantity search-children">
				</div>
				<div class="home-search-label">
					<img src="img/person.svg" alt="" class="home-search-img">
					<input type="number" class="home-search-quantity search-baby">
				</div>
			</div>
		</div>
		<button type="submit" class="form-btn btn">Search</button>
	</form>
</div>