<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>phone</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
	<!--<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
</head>

<body>
	@import "header.html"
	<div class="about">
		<section class="about-offer">
			<div class="bg-overlay"></div>
		</section>
		<section class="about-us">
			<div class="home-title">About Us</div>
			<div class="about-us-flex">
				<div class="about-us-left">
					<p class="about-us-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<p class="about-us-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
					</p>
				</div>
				<div class="about-us-right">
					<div class="bg-overlay">
						<div class="about-us-title">Best Price<br>Guarantee</div>
						<a href="#" class="about-us-btn btn">Book Now</a>
					</div>
				</div>
			</div>
		</section>
		<section class="about-experience">
			<div class="home-title">Experience</div>
			<p class="home-text">Super stylish, finest beds & linens, premium amenities, tons of other perks,
				design that captures the local vibe.
			</p>
			<div class="about-experience-icons">
				<div class="about-experience-item">
					<div class="about-experience-img-block">
						<img src="img/icon1.svg" alt="" class="about-experience-img">
					</div>
					<p class="about-experience-text">
						Super stylish, finest beds & linens, premium amenities, tons of other perks,
						design that captures the local vibe.
					</p>
				</div>
				<div class="about-experience-item">
					<div class="about-experience-img-block">
						<img src="img/icon2.svg" alt="" class="about-experience-img">
					</div>
					<p class="about-experience-text">
						Super stylish, finest beds & linens, premium amenities, tons of other perks,
						design that captures the local vibe.
					</p>
				</div>
				<div class="about-experience-item">
					<div class="about-experience-img-block">
						<img src="img/icon3.svg" alt="" class="about-experience-img">
					</div>
					<p class="about-experience-text">
						Super stylish, finest beds & linens, premium amenities, tons of other perks,
						design that captures the local vibe.
					</p>
				</div>
				<div class="about-experience-item">
					<div class="about-experience-img-block">
						<img src="img/icon4.svg" alt="" class="about-experience-img">
					</div>
					<p class="about-experience-text">
						Super stylish, finest beds & linens, premium amenities, tons of other perks,
						design that captures the local vibe.
					</p>
				</div>
			</div>
		</section>
		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13522.89955564663!2d34.76978703944938!3d32.07668893098965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x380aedc0fb1b5ec9!2sshalom+halechem+41!5e0!3m2!1sru!2sua!4v1555061056774!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
		@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
    <script src="js/common.js"></script>



</body>
</html>
