<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>phone</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
	<!--<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
</head>

<body>
	@import "header.html"
	<div class="blog">
		<section class="blog-main">
			<div class="home-title">Blog</div>
			<p class="home-text">Super stylish, finest beds & linens, premium amenities, tons of other perks,
				design that captures the local vibe.
			</p>
			<div class="blog-flex">
				<div class="blog-item">
					<img src="img/gallery1.png" alt="" class="blog-img">
					<div class="blog-name">Article name</div>
					<div class="blog-date">By Adi. | <span class="blog-span"> 12.12.2019</span></div>
					<p class="blog-text">Super stylish, finest beds & linens, premium amenities, tons of other perks, Super stylish, finest beds & linens, premium amenities, tons of other perks. </p>
					<a href="#" class="blog-btn btn">Read more</a>
				</div>
				<div class="blog-item">
					<img src="img/gallery1.png" alt="" class="blog-img">
					<div class="blog-name">Article name</div>
					<div class="blog-date">By Adi. | <span class="blog-span"> 12.12.2019</span></div>
					<p class="blog-text">Super stylish, finest beds & linens, premium amenities, tons of other perks, Super stylish, finest beds & linens, premium amenities, tons of other perks. </p>
					<a href="#" class="blog-btn btn">Read more</a>
				</div>
				<div class="blog-item">
					<img src="img/gallery1.png" alt="" class="blog-img">
					<div class="blog-name">Article name</div>
					<div class="blog-date">By Adi. | <span class="blog-span"> 12.12.2019</span></div>
					<p class="blog-text">Super stylish, finest beds & linens, premium amenities, tons of other perks, Super stylish, finest beds & linens, premium amenities, tons of other perks. </p>
					<a href="#" class="blog-btn btn">Read more</a>
				</div>
			</div>
		</section>
	</div>
		@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
    <script src="js/common.js"></script>



</body>
</html>
