<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>phone</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
	<!--<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
</head>

<body>
	@import "header.html"
	<div class="deals">
		<section class="deals-slider">
			<div class="deals-slider-item">
				<img src="img/about1.png" alt="" class="deals-slider-img">
				<div class="bg-overlay"></div>
			</div>
			<div class="deals-slider-item">
				<img src="img/slider1.png" alt="" class="deals-slider-img">
				<div class="bg-overlay"></div>
			</div>
		</section>
		<section class="deals-name">
			<div class="deals-title">Appartment name</div>
			<div class="deals-flex">
				<div class="deals-info">
					<img src="img/gues.svg" alt="" class="deals-img">
					<span class="deals-guests-span">3 </span>
					Guests
				</div>
				<div class="deals-info">
					<img src="img/room.svg" alt="" class="deals-img">
					<span class="deals-rooms-span">1 </span>
					Rooms
				</div>
				<div class="deals-info">
					<img src="img/badrooms.svg" alt="" class="deals-img">
					<span class="deals-badrooms-span">1 </span>
					badrooms
				</div>
			</div>
			<p class="deals-text">
				Super stylish, finest beds & linens, premium amenities, tons of other perks,
				design that captures the local vibe. Super stylish, <br>
				finest beds & linens, premium amenities, tons of other perks,<br>
				design that captures the local vibe.
			</p>
		</section>
		<section class="deals-name">
			<div class="deals-title">Policy</div>
			<p class="deals-text">
				Super stylish, finest beds & linens, premium amenities, tons of other perks,
				design that captures the local vibe. Super stylish,<br>
				finest beds & linens, premium amenities, tons of other perks,<br>
				design that captures the local vibe.
			</p>
			<div class="deals-should">
				<div class="deals-should-you">
					<span class="deals-should-know">
						You should know :</span>
					<span class="nowrap">
						Check in <span class="deals-check_in"> 14:00</span>
					</span>
					<span class="nowrap">
						Check out : <span class="deals-check_out"> 10:00</span>
					</span>
				</div>
				<div class="deals-btns">
					<a href="#" class="deals-btn btn btn-appartment">Back to Appartment</a>
					<a href="#" class="deals-btn btn btn-gallery">Gallery</a>
				</div>
			</div>
		</section>
	</div>
		@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
    <script src="js/common.js"></script>



</body>
</html>
