<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>phone</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
	<!--<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
</head>

<body>
	@import "header.html"
	<div class="home">
		<section class="home-slider">
			<div class="home-slider-item">
				<img src="img/slider1.png" alt="" class="home-slider-img">
				<div class="home-slider-btn btn">Book Now</div>
				<div class="form-slider">
					<form class="form">
						<div class="home-search-crumbs">
							<a href="#" class="home-search-link home-search-text">Dates</a>
							<a href="#" class="home-search-link home-search-text">Rooms</a>
							<a href="#" class="home-search-link home-search-text">Extra</a>
							<a href="#" class="home-search-link home-search-text">Approvment</a>
						</div>
						<div class="home-search-date">
							<label class="home-search-change">
								<input type="text" class="home-search-input">
							</label>
							<label class="home-search-change">
								<input type="text" class="home-search-input">
							</label>
						</div>
						<div class="home-search-details">
							<div class="home-search-tab">
								<div class="home-search-text">Rooms</div>
								<div class="home-search-text">Adults</div>
								<div class="home-search-text">Children</div>
								<div class="home-search-text">Baby</div>
							</div>
							<div class="home-search-item">
								<div class="home-search-label">
									<input type="text" class="home-search-quantity search-rooms" value="1">
								</div>
								<div class="home-search-label">
									<img src="img/person.svg" alt="" class="home-search-img">
									<input type="number" class="home-search-quantity search-adults">
								</div>
								<div class="home-search-label">
									<img src="img/person.svg" alt="" class="home-search-img">
									<input type="number" class="home-search-quantity search-children">
								</div>
								<div class="home-search-label">
									<img src="img/person.svg" alt="" class="home-search-img">
									<input type="number" class="home-search-quantity search-baby">
								</div>
							</div>
						</div>
						<button type="submit" class="form-btn btn">Search</button>
					</form>
				</div>
			</div>
			<div class="home-slider-item">
				<img src="img/slider1.png" alt="" class="home-slider-img">
				<a href="#" class="home-slider-btn btn">Book Now</a>
				<div class="form-slider">
					<form class="form">
						<div class="home-search-crumbs">
							<a href="#" class="home-search-link home-search-text">Dates</a>
							<a href="#" class="home-search-link home-search-text">Rooms</a>
							<a href="#" class="home-search-link home-search-text">Extra</a>
							<a href="#" class="home-search-link home-search-text">Approvment</a>
						</div>
						<div class="home-search-date">
							<label class="home-search-change">
								<input type="text" class="home-search-input">
							</label>
							<label class="home-search-change">
								<input type="text" class="home-search-input">
							</label>
						</div>
						<div class="home-search-details">
							<div class="home-search-tab">
								<div class="home-search-text">Rooms</div>
								<div class="home-search-text">Adults</div>
								<div class="home-search-text">Children</div>
								<div class="home-search-text">Baby</div>
							</div>
							<div class="home-search-item">
								<div class="home-search-label">
									<input type="text" class="home-search-quantity search-rooms" value="1">
								</div>
								<div class="home-search-label">
									<img src="img/person.svg" alt="" class="home-search-img">
									<input type="number" class="home-search-quantity search-adults">
								</div>
								<div class="home-search-label">
									<img src="img/person.svg" alt="" class="home-search-img">
									<input type="number" class="home-search-quantity search-children">
								</div>
								<div class="home-search-label">
									<img src="img/person.svg" alt="" class="home-search-img">
									<input type="number" class="home-search-quantity search-baby">
								</div>
							</div>
						</div>
						<button type="submit" class="form-btn btn">Search</button>
					</form>
				</div>
			</div>
		</section>
		<section class="home-search">
			<form class="form">
				<div class="home-search-crumbs">
					<a href="#" class="home-search-link home-search-text">Dates</a>
					<a href="#" class="home-search-link home-search-text">Rooms</a>
					<a href="#" class="home-search-link home-search-text">Extra</a>
					<a href="#" class="home-search-link home-search-text">Approvment</a>
				</div>
				<div class="home-search-date">
					<label class="home-search-change">
						<input type="text" class="home-search-input">
					</label>
					<label class="home-search-change">
						<input type="text" class="home-search-input">
					</label>
				</div>
				<div class="home-search-details">
					<div class="home-search-tab">
						<div class="home-search-text">Rooms</div>
						<div class="home-search-text">Adults</div>
						<div class="home-search-text">Children</div>
						<div class="home-search-text">Baby</div>
					</div>
					<div class="home-search-item">
						<div class="home-search-label">
							<input type="text" class="home-search-quantity search-rooms" value="1">
						</div>
						<div class="home-search-label">
							<img src="img/person.svg" alt="" class="home-search-img">
							<input type="number" class="home-search-quantity search-adults">
						</div>
						<div class="home-search-label">
							<img src="img/person.svg" alt="" class="home-search-img">
							<input type="number" class="home-search-quantity search-children">
						</div>
						<div class="home-search-label">
							<img src="img/person.svg" alt="" class="home-search-img">
							<input type="number" class="home-search-quantity search-baby">
						</div>
					</div>
				</div>
				<button type="submit" class="form-btn btn">Search</button>
			</form>
		</section>
		<section class="home-apartments">
			<div class="home-title">Our Apartments</div>
			<p class="home-text">Super stylish, finest beds & linens, premium amenities, tons of other perks,
				design that captures the local vibe.
			</p>
			<div class="home-apartments-flex">
				<div class="home-apartments-item">
					<img src="img/apart1.png" alt="" class="home-apartments-img">
					<div class="apartments-down">
						<div class="apartments-down-title">Room 1</div>
						<div class="apartments-down-flex">
							<div class="apartments-down-info">
								<span class="apartments-down-span">6 </span>guests |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">3 </span>badroom |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">balcon </span> |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">120<span class="apartments-down-metr">m</span></span>
							</div>
						</div>
					</div>
					<div class="apartments-hover">
						<div class="apartments-hover-title">Prime Locations<br>
							The most<br>
							happening<br>
							parts of town</div>
						<a href="#" class="apartments-hover-btn btn">Book Now</a>
					</div>
				</div>
				<div class="home-apartments-item">
					<img src="img/apart1.png" alt="" class="home-apartments-img">
					<div class="apartments-down">
						<div class="apartments-down-title">Room 1</div>
						<div class="apartments-down-flex">
							<div class="apartments-down-info">
								<span class="apartments-down-span">6 </span>guests |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">3 </span>badroom |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">balcon </span> |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">120<span class="apartments-down-metr">m</span></span>
							</div>
						</div>
					</div>
					<div class="apartments-hover">
						<div class="apartments-hover-title">Prime Locations<br>
							The most<br>
							happening<br>
							parts of town</div>
						<a href="#" class="apartments-hover-btn btn">Book Now</a>
					</div>
				</div>
				<div class="home-apartments-item">
					<img src="img/apart1.png" alt="" class="home-apartments-img">
					<div class="apartments-down">
						<div class="apartments-down-title">Room 1</div>
						<div class="apartments-down-flex">
							<div class="apartments-down-info">
								<span class="apartments-down-span">6 </span>guests |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">3 </span>badroom |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">balcon </span> |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">120<span class="apartments-down-metr">m</span></span>
							</div>
						</div>
					</div>
					<div class="apartments-hover">
						<div class="apartments-hover-title">Prime Locations<br>
							The most<br>
							happening<br>
							parts of town</div>
						<a href="#" class="apartments-hover-btn btn">Book Now</a>
					</div>
				</div>
				<div class="home-apartments-item">
					<img src="img/apart1.png" alt="" class="home-apartments-img">
					<div class="apartments-down">
						<div class="apartments-down-title">Room 1</div>
						<div class="apartments-down-flex">
							<div class="apartments-down-info">
								<span class="apartments-down-span">6 </span>guests |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">3 </span>badroom |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">balcon </span> |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">120<span class="apartments-down-metr">m</span></span>
							</div>
						</div>
					</div>
					<div class="apartments-hover">
						<div class="apartments-hover-title">Prime Locations<br>
							The most<br>
							happening<br>
							parts of town</div>
						<a href="#" class="apartments-hover-btn btn">Book Now</a>
					</div>
				</div>
				<div class="home-apartments-item">
					<img src="img/apart1.png" alt="" class="home-apartments-img">
					<div class="apartments-down">
						<div class="apartments-down-title">Room 1</div>
						<div class="apartments-down-flex">
							<div class="apartments-down-info">
								<span class="apartments-down-span">6 </span>guests |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">3 </span>badroom |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">balcon </span> |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">120<span class="apartments-down-metr">m</span></span>
							</div>
						</div>
					</div>
					<div class="apartments-hover">
						<div class="apartments-hover-title">Prime Locations<br>
							The most<br>
							happening<br>
							parts of town</div>
						<a href="#" class="apartments-hover-btn btn">Book Now</a>
					</div>
				</div>
				<div class="home-apartments-item">
					<img src="img/apart1.png" alt="" class="home-apartments-img">
					<div class="apartments-down">
						<div class="apartments-down-title">Room 1</div>
						<div class="apartments-down-flex">
							<div class="apartments-down-info">
								<span class="apartments-down-span">6 </span>guests |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">3 </span>badroom |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">balcon </span> |
							</div>
							<div class="apartments-down-info">
								<span class="apartments-down-span">120<span class="apartments-down-metr">m</span></span>
							</div>
						</div>
					</div>
					<div class="apartments-hover">
						<div class="apartments-hover-title">Prime Locations<br>
							The most<br>
							happening<br>
							parts of town</div>
						<a href="#" class="apartments-hover-btn btn">Book Now</a>
					</div>
				</div>
			</div>
			<div class="home-title">Big Title</div>
			<p class="home-text">Super stylish, finest beds & linens, premium amenities, tons of other perks,
				design that captures the local vibe.
			</p>
			<div class="home-icons">
				<div class="home-icons-flex">
					<img src="img/icon.svg" alt="" class="home-icons-img">
					<img src="img/icon.svg" alt="" class="home-icons-img">
					<img src="img/icon.svg" alt="" class="home-icons-img">
					<img src="img/icon.svg" alt="" class="home-icons-img">
					<img src="img/icon.svg" alt="" class="home-icons-img">
					<img src="img/icon.svg" alt="" class="home-icons-img">
					<img src="img/icon.svg" alt="" class="home-icons-img">
					<img src="img/icon.svg" alt="" class="home-icons-img">
					<img src="img/icon.svg" alt="" class="home-icons-img">
				</div>
			</div>
		</section>
		<section class="home-newsletter">
			<div class="home-title">Join Our Newsletter</div>
			<p class="home-text">Subscribe for special offers and insider tips</p>
			<form class="home-newsletter-form">
				<input type="text" class="home-newsletter-input" placeholder="Enter your email..">
				<button type="submit" class="home-newsletter-btn btn">SUBSCRIBE</button>
			</form>
		</section>
		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13522.89955564663!2d34.76978703944938!3d32.07668893098965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x380aedc0fb1b5ec9!2sshalom+halechem+41!5e0!3m2!1sru!2sua!4v1555061056774!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
		@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
    <script src="js/common.js"></script>



</body>
</html>
