<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>phone</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
	<!--<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
</head>

<body>
	@import "header.html"
	<div class="terms">
		<section class="deals-slider">
			<div class="deals-slider-item">
				<img src="img/slider2.png" alt="" class="deals-slider-img">
				<div class="bg-overlay"></div>
			</div>
			<div class="deals-slider-item">
				<img src="img/slider2.png" alt="" class="deals-slider-img">
				<div class="bg-overlay"></div>
			</div>
		</section>
		<section class="deals-name terms-condition">
			<div class="deals-title terms-title">Terms & Conditions</div>
			<p class="deals-text">
				Super stylish, finest beds & linens, premium amenities, tons of other perks,
				design that captures the local vibe. Super stylish, <br>
				finest beds & linens, premium amenities, tons of other perks,<br>
				design that captures the local vibe.<br>
				Super stylish, finest beds & linens, premium amenities, tons of other perks,
				design that captures the local vibe. Super stylish, <br>
				finest beds & linens, premium amenities, tons of other perks,<br>
				design that captures the local vibe.
			</p>
			<p class="deals-text">
				Super stylish, finest beds & linens, premium amenities, tons of other perks,
				design that captures the local vibe. Super stylish, <br>
				finest beds & linens, premium amenities, tons of other perks,<br>
				design that captures the local vibe.
			</p>
		</section>
	</div>
		@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
    <script src="js/common.js"></script>



</body>
</html>
